.main{
    background-color: #2D314E;
}

.requestInvite {
  background: linear-gradient(90deg, #2fd071 0%, #2cbcc7 100%);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 12px 20px;
  height: 50px;
  width: 140px  ;
  margin-right: 50px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.requestInvite:hover {
  box-shadow: 1px 3px 10px 10px rgba(47, 208, 113, 0.3);
  opacity: 0.8;
  scale: 1.05;
}